In [106]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [115]:
data = pd.read_csv("ins_cl_dataset.csv")
data.replace('?', np.nan, inplace=True)
to_drop = ['policy_number', 'policy_bind_date', 'policy_state', 'insured_zip', 'incident_location',
                   'incident_date',
                   'incident_state', 'incident_city', 'insured_hobbies', 'auto_make', 'auto_model', 'auto_year', '_c39',
                   'months_as_customer', 'policy_csl',
                   'policy_deductable', 'insured_sex', 'insured_education_level', 'insured_occupation',
                   'insured_relationship', 'incident_type', 'collision_type',
                   'authorities_contacted', 'witnesses', 'police_report_available', 'property_damage', 'vehicle_claim',
                   'injury_claim', 'age', 'total_claim_amount']

data.drop(to_drop, inplace=True, axis=1)
d = {'Minor Damage': 0, 'Major Damage': 1, 'Total Loss': 2, 'Trivial Damage': 3}
data['incident_severity'] = data['incident_severity'].replace(d)
d_ = {'N': 0, 'Y': 1}
data['fraud_reported'] = data['fraud_reported'].replace(d_)
X = data.drop('fraud_reported', axis=1)
y = data['fraud_reported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
print("")

In [116]:
data.head()

,policy_annual_premium,umbrella_limit,capital-gains,capital-loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,property_claim,fraud_reported
0,1406.91,0,53300,0,1,5,1,1,13020,1
1,1197.22,5000000,0,0,0,8,1,0,780,1
2,1413.14,5000000,35100,0,0,7,3,2,3850,0
3,1415.74,6000000,48900,-62400,1,5,1,1,6340,1
4,1583.91,6000000,66000,-46000,0,20,1,0,650,0

In [117]:
#Changer le nom car dans notre code pour le front-end il prend le "-" comme un operator moins
data.rename(columns={'capital-gains': 'capital_gains',
                   'capital-loss': 'capital_loss'},
          inplace=True, errors='raise')
data.head()

,policy_annual_premium,umbrella_limit,capital_gains,capital_loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,property_claim,fraud_reported
0,1406.91,0,53300,0,1,5,1,1,13020,1
1,1197.22,5000000,0,0,0,8,1,0,780,1
2,1413.14,5000000,35100,0,0,7,3,2,3850,0
3,1415.74,6000000,48900,-62400,1,5,1,1,6340,1
4,1583.91,6000000,66000,-46000,0,20,1,0,650,0

In [118]:
data.to_csv("clean_data_fraud.csv", index=False, encoding='utf8')

# Data sans le fraud

In [119]:
data.drop(['fraud_reported'], inplace=True, axis=1)
data.head()

,policy_annual_premium,umbrella_limit,capital_gains,capital_loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,property_claim
0,1406.91,0,53300,0,1,5,1,1,13020
1,1197.22,5000000,0,0,0,8,1,0,780
2,1413.14,5000000,35100,0,0,7,3,2,3850
3,1415.74,6000000,48900,-62400,1,5,1,1,6340
4,1583.91,6000000,66000,-46000,0,20,1,0,650

In [120]:
data.to_csv("clean_data.csv", index=False, encoding='utf8')

# Example pour l'utilisateur

In [121]:
ds= data.iloc[:1]
ds

,policy_annual_premium,umbrella_limit,capital_gains,capital_loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,property_claim
0,1406.91,0,53300,0,1,5,1,1,13020

In [122]:
ds.to_csv("clean_data_example.csv", index=False, encoding='utf8')

In [ ]:
#example 2
ds= data.iloc[:1]
ds

# Min et max de chaque colunne

In [123]:
print("policy_annual_premium",data["policy_annual_premium"].max())
print("policy_annual_premium",data["policy_annual_premium"].min())

print("umbrella_limit",data["umbrella_limit"].max())
print("umbrella_limit",data["umbrella_limit"].min())

print("capital_gains",data["capital_gains"].max())
print("capital_gains",data["capital_gains"].min())

print("capital_loss",data["capital_loss"].max())
print("capital_loss",data["capital_loss"].min())

print("incident_severity",data["incident_severity"].max())
print("incident_severity",data["incident_severity"].min())

print("incident_hour_of_the_day",data["incident_hour_of_the_day"].max())
print("incident_hour_of_the_day",data["incident_hour_of_the_day"].min())

print("number_of_vehicles_involved",data["number_of_vehicles_involved"].max())
print("number_of_vehicles_involved",data["number_of_vehicles_involved"].min())

print("bodily_injuries",data["bodily_injuries"].max())
print("bodily_injuries",data["bodily_injuries"].min())

print("property_claim",data["property_claim"].max())
print("property_claim",data["property_claim"].min())

policy_annual_premium 2047.59
policy_annual_premium 433.33
umbrella_limit 10000000
umbrella_limit -1000000
capital_gains 100500
capital_gains 0
capital_loss 0
capital_loss -111100
incident_severity 3
incident_severity 0
incident_hour_of_the_day 23
incident_hour_of_the_day 0
number_of_vehicles_involved 4
number_of_vehicles_involved 1
bodily_injuries 2
bodily_injuries 0
property_claim 23670
property_claim 0