In [5]:
import pandas as pd
  
# reading the csv file
df = pd.read_csv("ins_cl_dataset.csv")

In [7]:
df["witnesses"]

0      2
1      0
2      3
3      2
4      1
      ..
995    1
996    3
997    3
998    1
999    3
Name: witnesses, Length: 1000, dtype: int64

In [10]:
data = df.drop(["months_as_customer","age","policy_number","policy_bind_date","policy_state","policy_csl","policy_deductable","policy_annual_premium","umbrella_limit","insured_zip","insured_sex","insured_education_level","insured_occupation","insured_hobbies","insured_relationship","capital-gains","capital-loss","incident_date","incident_type","collision_type","incident_severity","authorities_contacted","incident_state","incident_city","incident_location","incident_hour_of_the_day","property_damage","bodily_injuries","police_report_available","total_claim_amount","injury_claim","property_claim","vehicle_claim","auto_make","auto_model","auto_year","fraud_reported","_c39"], axis=1)

In [11]:
data

     number_of_vehicles_involved  witnesses
0                              1          2
1                              1          0
2                              3          3
3                              1          2
4                              1          1
..                           ...        ...
995                            1          1
996                            1          3
997                            3          3
998                            1          1
999                            1          3

[1000 rows x 2 columns]

In [12]:
data.to_csv("clean_data.csv", index=False, encoding='utf8')